<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <nav class="navbar shadow-sm bg-white">
      <div class="container-fluid">
        <a href="{% url 'Reviews:index' %}"><img src="{% static 'Reviews/MOVIE.png' %}" width="100"></a>
        <a class="navbar-brand" href="{% url 'Reviews:index' %}">영화</a>
        <a href="{% url 'Reviews:create' %}" type="button" class="btn btn-sm btn-outline-primary btn-lg">작성</a>
      </div>
    </nav>
    <div class="container mt-5">
      {% block content %}{% endblock %}
    </div>
  </body>

</html>